-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: talent_human_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asistencias`
--

DROP TABLE IF EXISTS `asistencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asistencias` (
  `id_asistencia` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `hora_entrada` time DEFAULT NULL,
  `hora_salida` time DEFAULT NULL,
  `tipo` varchar(20) DEFAULT NULL CHECK (`tipo` in ('Normal','Vacaciones','Licencia','Permiso')),
  `estado` varchar(20) DEFAULT NULL CHECK (`estado` in ('Puntual','Tardanza','Ausente','Justificado','Injustificado')),
  `tipo_inasistencia` enum('Justificada','Injustificada','Permiso','Vacaciones','Licencia M├⌐dica') DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `horas_trabajadas` decimal(4,2) DEFAULT NULL,
  PRIMARY KEY (`id_asistencia`),
  KEY `id_empleado` (`id_empleado`),
  KEY `idx_asistencias_fecha` (`fecha`),
  CONSTRAINT `asistencias_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asistencias`
--

LOCK TABLES `asistencias` WRITE;
/*!40000 ALTER TABLE `asistencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `asistencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatos`
--

DROP TABLE IF EXISTS `candidatos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatos` (
  `id_candidato` int(11) NOT NULL AUTO_INCREMENT,
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `cedula` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `cv_url` varchar(255) DEFAULT NULL,
  `estado` varchar(20) NOT NULL CHECK (`estado` in ('En revisi├│n','Entrevista','Contratado','Rechazado')),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_candidato`),
  UNIQUE KEY `cedula` (`cedula`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatos`
--

LOCK TABLES `candidatos` WRITE;
/*!40000 ALTER TABLE `candidatos` DISABLE KEYS */;
INSERT INTO `candidatos` VALUES (1,'Juan','P├⌐rez','1234567890','juan.perez@email.com','0987654321','cv_juan_perez.pdf','En revisi├│n','2025-08-03 04:16:46'),(2,'Mar├¡a','Gonz├ílez','0987654321','maria.gonzalez@email.com','1234567890','cv_maria_gonzalez.pdf','Entrevista','2025-08-03 04:16:46'),(3,'Carlos','Rodr├¡guez','1122334455','carlos.rodriguez@email.com','5566778899','cv_carlos_rodriguez.pdf','Rechazado','2025-08-03 04:16:46');
/*!40000 ALTER TABLE `candidatos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `capacitaciones`
--

DROP TABLE IF EXISTS `capacitaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `capacitaciones` (
  `id_capacitacion` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `tipo` varchar(50) DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `costo` decimal(10,2) DEFAULT NULL,
  `proveedor` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `estado` enum('Planificada','En curso','Completada','Cancelada') DEFAULT 'Planificada',
  `cupo_maximo` int(11) DEFAULT 20,
  `periodo_academico_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_capacitacion`),
  KEY `fk_capacitaciones_periodo` (`periodo_academico_id`),
  KEY `idx_capacitaciones_fecha` (`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_capacitaciones_periodo` FOREIGN KEY (`periodo_academico_id`) REFERENCES `periodos_academicos` (`id_periodo`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `capacitaciones`
--

LOCK TABLES `capacitaciones` WRITE;
/*!40000 ALTER TABLE `capacitaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `capacitaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `capacitaciones_disponibles`
--

DROP TABLE IF EXISTS `capacitaciones_disponibles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `capacitaciones_disponibles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `institucion` varchar(255) NOT NULL,
  `tipo_capacitacion` enum('CURSO','DIPLOMADO','CERTIFICACION','CONFERENCIA','SEMINARIO','WORKSHOP') NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `horas_totales` int(11) NOT NULL,
  `costo` decimal(10,2) DEFAULT NULL,
  `cupos_disponibles` int(11) DEFAULT 0,
  `estado` enum('ACTIVA','INACTIVA','COMPLETADA') DEFAULT 'ACTIVA',
  `requisitos` text DEFAULT NULL,
  `beneficios` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `capacitaciones_disponibles`
--

LOCK TABLES `capacitaciones_disponibles` WRITE;
/*!40000 ALTER TABLE `capacitaciones_disponibles` DISABLE KEYS */;
/*!40000 ALTER TABLE `capacitaciones_disponibles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `capacitaciones_empleados`
--

DROP TABLE IF EXISTS `capacitaciones_empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `capacitaciones_empleados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empleado_id` int(11) NOT NULL,
  `nombre_capacitacion` varchar(255) NOT NULL,
  `institucion` varchar(255) NOT NULL,
  `tipo_capacitacion` enum('CURSO','DIPLOMADO','CERTIFICACION','CONFERENCIA','SEMINARIO','WORKSHOP') NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `horas_totales` int(11) NOT NULL,
  `costo` decimal(10,2) DEFAULT NULL,
  `estado` enum('EN_PROGRESO','COMPLETADA','CANCELADA') DEFAULT 'EN_PROGRESO',
  `certificado_url` varchar(255) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `empleado_id` (`empleado_id`),
  CONSTRAINT `capacitaciones_empleados_ibfk_1` FOREIGN KEY (`empleado_id`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `capacitaciones_empleados`
--

LOCK TABLES `capacitaciones_empleados` WRITE;
/*!40000 ALTER TABLE `capacitaciones_empleados` DISABLE KEYS */;
/*!40000 ALTER TABLE `capacitaciones_empleados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias` (
  `id_categoria` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_categoria`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
INSERT INTO `categorias` VALUES (1,'Documentos Personales','C├⌐dula, pasaporte, documentos de identidad',1,'2025-08-03 05:44:08'),(2,'Documentos Acad├⌐micos','T├¡tulos, certificados, diplomas',1,'2025-08-03 05:44:08'),(3,'Documentos Laborales','Contratos, certificados laborales',1,'2025-08-03 05:44:08'),(4,'Documentos M├⌐dicos','Certificados m├⌐dicos, ex├ímenes',1,'2025-08-03 05:44:08'),(5,'Otros','Otros tipos de documentos',1,'2025-08-03 05:44:08');
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_evaluacion`
--

DROP TABLE IF EXISTS `categorias_evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias_evaluacion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `peso` decimal(3,2) DEFAULT 1.00,
  `activa` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_evaluacion`
--

LOCK TABLES `categorias_evaluacion` WRITE;
/*!40000 ALTER TABLE `categorias_evaluacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias_evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificados`
--

DROP TABLE IF EXISTS `certificados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `certificados` (
  `id_certificado` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) DEFAULT NULL,
  `id_capacitacion` int(11) DEFAULT NULL,
  `titulo` varchar(200) NOT NULL,
  `institucion` varchar(200) DEFAULT NULL,
  `fecha_emision` date DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `url_certificado` varchar(255) DEFAULT NULL,
  `estado` enum('Vigente','Vencido','Pr├│ximo a vencer') DEFAULT 'Vigente',
  `activo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id_certificado`),
  KEY `id_empleado` (`id_empleado`),
  KEY `id_capacitacion` (`id_capacitacion`),
  CONSTRAINT `certificados_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `certificados_ibfk_2` FOREIGN KEY (`id_capacitacion`) REFERENCES `capacitaciones` (`id_capacitacion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificados`
--

LOCK TABLES `certificados` WRITE;
/*!40000 ALTER TABLE `certificados` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competencias`
--

DROP TABLE IF EXISTS `competencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `competencias` (
  `id_competencia` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_competencia`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competencias`
--

LOCK TABLES `competencias` WRITE;
/*!40000 ALTER TABLE `competencias` DISABLE KEYS */;
INSERT INTO `competencias` VALUES (1,'Liderazgo','Capacidad para dirigir equipos y proyectos','2025-08-03 04:16:43'),(2,'Comunicaci├│n','Habilidad para transmitir ideas efectivamente','2025-08-03 04:16:43'),(3,'Trabajo en Equipo','Capacidad para colaborar en grupos','2025-08-03 04:16:43'),(4,'Resoluci├│n de Problemas','Habilidad para analizar y resolver situaciones','2025-08-03 04:16:43'),(5,'Innovaci├│n','Capacidad para generar ideas creativas','2025-08-03 04:16:43'),(6,'Gesti├│n del Tiempo','Habilidad para organizar y priorizar tareas','2025-08-03 04:16:43');
/*!40000 ALTER TABLE `competencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratos`
--

DROP TABLE IF EXISTS `contratos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contratos` (
  `id_contrato` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) NOT NULL,
  `id_puesto` int(11) NOT NULL,
  `tipo_contrato` varchar(50) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `salario` decimal(10,2) NOT NULL,
  `horas_semanales` int(11) DEFAULT NULL,
  `archivo_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_contrato`),
  KEY `id_empleado` (`id_empleado`),
  KEY `id_puesto` (`id_puesto`),
  CONSTRAINT `contratos_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `contratos_ibfk_2` FOREIGN KEY (`id_puesto`) REFERENCES `puestos` (`id_puesto`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratos`
--

LOCK TABLES `contratos` WRITE;
/*!40000 ALTER TABLE `contratos` DISABLE KEYS */;
INSERT INTO `contratos` VALUES (1,1,3,'Indefinido','2010-01-15',NULL,2800.00,40,NULL,'2025-08-03 04:16:43'),(2,2,1,'Indefinido','2015-03-20',NULL,2500.00,40,NULL,'2025-08-03 04:16:43'),(3,3,5,'Indefinido','2018-09-01',NULL,1500.00,30,NULL,'2025-08-03 04:16:43');
/*!40000 ALTER TABLE `contratos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departamentos`
--

DROP TABLE IF EXISTS `departamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departamentos` (
  `id_departamento` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `id_jefe` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `responsable` varchar(100) DEFAULT NULL,
  `email_contacto` varchar(100) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `ubicacion` varchar(200) DEFAULT NULL,
  `estado` enum('Activo','Inactivo','Suspendido') DEFAULT 'Activo',
  `activo` tinyint(1) DEFAULT 1,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_departamento`),
  KEY `id_jefe` (`id_jefe`),
  CONSTRAINT `departamentos_ibfk_1` FOREIGN KEY (`id_jefe`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departamentos`
--

LOCK TABLES `departamentos` WRITE;
/*!40000 ALTER TABLE `departamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `departamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalles_evaluacion`
--

DROP TABLE IF EXISTS `detalles_evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalles_evaluacion` (
  `id_detalle_evaluacion` int(11) NOT NULL AUTO_INCREMENT,
  `id_evaluacion_empleado` int(11) NOT NULL,
  `id_competencia` int(11) NOT NULL,
  `puntaje` decimal(5,2) NOT NULL,
  `comentarios` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_detalle_evaluacion`),
  KEY `id_evaluacion_empleado` (`id_evaluacion_empleado`),
  KEY `id_competencia` (`id_competencia`),
  CONSTRAINT `detalles_evaluacion_ibfk_1` FOREIGN KEY (`id_evaluacion_empleado`) REFERENCES `evaluaciones_empleados` (`id_evaluacion_empleado`),
  CONSTRAINT `detalles_evaluacion_ibfk_2` FOREIGN KEY (`id_competencia`) REFERENCES `competencias` (`id_competencia`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalles_evaluacion`
--

LOCK TABLES `detalles_evaluacion` WRITE;
/*!40000 ALTER TABLE `detalles_evaluacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalles_evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalles_nomina`
--

DROP TABLE IF EXISTS `detalles_nomina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalles_nomina` (
  `id_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `id_nomina` int(11) NOT NULL,
  `id_empleado` int(11) NOT NULL,
  `salario_base` decimal(10,2) NOT NULL,
  `horas_extras` decimal(10,2) DEFAULT 0.00,
  `valor_horas_extras` decimal(10,2) DEFAULT 0.00,
  `bonos` decimal(10,2) DEFAULT 0.00,
  `comisiones` decimal(10,2) DEFAULT 0.00,
  `otros_ingresos` decimal(10,2) DEFAULT 0.00,
  `salud` decimal(10,2) DEFAULT 0.00,
  `pension` decimal(10,2) DEFAULT 0.00,
  `prestamos` decimal(10,2) DEFAULT 0.00,
  `otros_descuentos` decimal(10,2) DEFAULT 0.00,
  `neto_pagar` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_detalle`),
  KEY `id_nomina` (`id_nomina`),
  KEY `id_empleado` (`id_empleado`),
  CONSTRAINT `detalles_nomina_ibfk_1` FOREIGN KEY (`id_nomina`) REFERENCES `nominas` (`id_nomina`),
  CONSTRAINT `detalles_nomina_ibfk_2` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalles_nomina`
--

LOCK TABLES `detalles_nomina` WRITE;
/*!40000 ALTER TABLE `detalles_nomina` DISABLE KEYS */;
INSERT INTO `detalles_nomina` VALUES (1,1,1,2800.00,10.00,140.00,200.00,0.00,0.00,112.00,112.00,0.00,0.00,2916.00,'2025-08-03 04:16:45'),(2,1,2,2500.00,5.00,70.00,150.00,0.00,0.00,100.00,100.00,0.00,0.00,2520.00,'2025-08-03 04:16:45'),(3,1,3,1500.00,0.00,0.00,100.00,0.00,0.00,60.00,60.00,0.00,0.00,1480.00,'2025-08-03 04:16:45');
/*!40000 ALTER TABLE `detalles_nomina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentos` (
  `id_documento` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) NOT NULL,
  `tipo_documento` varchar(50) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `archivo_url` varchar(255) NOT NULL,
  `fecha_emision` date DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_documento`),
  KEY `id_empleado` (`id_empleado`),
  CONSTRAINT `documentos_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleados`
--

DROP TABLE IF EXISTS `empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados` (
  `id_empleado` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `tipo_empleado` varchar(20) NOT NULL,
  `tipo_docente` enum('Tiempo completo','Medio tiempo','Tiempo parcial') DEFAULT NULL,
  `departamento` varchar(255) DEFAULT NULL,
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `genero` varchar(15) DEFAULT NULL,
  `estado_civil` varchar(20) DEFAULT NULL,
  `direccion` text DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `fecha_ingreso` date NOT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `foto_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `id_departamento` int(11) DEFAULT NULL,
  `id_puesto` int(11) DEFAULT NULL,
  `salario` decimal(10,2) DEFAULT NULL,
  `estado` enum('Activo','Inactivo','Vacaciones','Licencia') DEFAULT 'Activo',
  `periodo_academico_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_empleado`),
  UNIQUE KEY `id_usuario` (`id_usuario`),
  KEY `fk_empleados_periodo` (`periodo_academico_id`),
  KEY `idx_empleados_activo` (`activo`),
  CONSTRAINT `empleados_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`),
  CONSTRAINT `fk_empleados_periodo` FOREIGN KEY (`periodo_academico_id`) REFERENCES `periodos_academicos` (`id_periodo`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleados`
--

LOCK TABLES `empleados` WRITE;
/*!40000 ALTER TABLE `empleados` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleados_capacitaciones`
--

DROP TABLE IF EXISTS `empleados_capacitaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados_capacitaciones` (
  `id_empleado_capacitacion` int(11) NOT NULL AUTO_INCREMENT,
  `id_capacitacion` int(11) NOT NULL,
  `id_empleado` int(11) NOT NULL,
  `asistio` tinyint(1) DEFAULT 0,
  `aprobo` tinyint(1) DEFAULT 0,
  `certificado_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_empleado_capacitacion`),
  KEY `id_capacitacion` (`id_capacitacion`),
  KEY `id_empleado` (`id_empleado`),
  CONSTRAINT `empleados_capacitaciones_ibfk_1` FOREIGN KEY (`id_capacitacion`) REFERENCES `capacitaciones` (`id_capacitacion`),
  CONSTRAINT `empleados_capacitaciones_ibfk_2` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleados_capacitaciones`
--

LOCK TABLES `empleados_capacitaciones` WRITE;
/*!40000 ALTER TABLE `empleados_capacitaciones` DISABLE KEYS */;
INSERT INTO `empleados_capacitaciones` VALUES (1,1,2,1,1,'certificado_rrhh_empleado_2.pdf','2025-08-03 04:16:46'),(2,2,1,1,1,'certificado_web_empleado_1.pdf','2025-08-03 04:16:46'),(3,3,1,1,1,'certificado_liderazgo_empleado_1.pdf','2025-08-03 04:16:46'),(4,3,2,1,1,'certificado_liderazgo_empleado_2.pdf','2025-08-03 04:16:46');
/*!40000 ALTER TABLE `empleados_capacitaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleados_competencias`
--

DROP TABLE IF EXISTS `empleados_competencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados_competencias` (
  `id_empleado_competencia` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) DEFAULT NULL,
  `id_competencia` int(11) DEFAULT NULL,
  `nivel_actual` enum('B├ísico','Intermedio','Avanzado','Experto') DEFAULT 'B├ísico',
  `fecha_evaluacion` date DEFAULT NULL,
  `comentarios` text DEFAULT NULL,
  PRIMARY KEY (`id_empleado_competencia`),
  UNIQUE KEY `unique_empleado_competencia` (`id_empleado`,`id_competencia`),
  KEY `id_competencia` (`id_competencia`),
  CONSTRAINT `empleados_competencias_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `empleados_competencias_ibfk_2` FOREIGN KEY (`id_competencia`) REFERENCES `competencias` (`id_competencia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleados_competencias`
--

LOCK TABLES `empleados_competencias` WRITE;
/*!40000 ALTER TABLE `empleados_competencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleados_competencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluaciones`
--

DROP TABLE IF EXISTS `evaluaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluaciones` (
  `id_evaluacion` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `estado` varchar(20) NOT NULL CHECK (`estado` in ('Planificada','En curso','Finalizada')),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_evaluacion`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluaciones`
--

LOCK TABLES `evaluaciones` WRITE;
/*!40000 ALTER TABLE `evaluaciones` DISABLE KEYS */;
INSERT INTO `evaluaciones` VALUES (1,'Evaluaci├│n Anual 2025','Evaluaci├│n de desempe├▒o anual','2025-01-01','2025-12-31','En curso','2025-08-03 04:16:44'),(2,'Evaluaci├│n de Competencias','Evaluaci├│n de competencias laborales','2025-06-01','2025-08-31','Planificada','2025-08-03 04:16:44'),(3,'Evaluaci├│n de Proyectos','Evaluaci├│n de proyectos realizados','2025-09-01','2025-11-30','Planificada','2025-08-03 04:16:44');
/*!40000 ALTER TABLE `evaluaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluaciones_empleados`
--

DROP TABLE IF EXISTS `evaluaciones_empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluaciones_empleados` (
  `id_evaluacion_empleado` int(11) NOT NULL AUTO_INCREMENT,
  `id_evaluacion` int(11) NOT NULL,
  `id_empleado` int(11) NOT NULL,
  `id_evaluador` int(11) NOT NULL,
  `fecha_evaluacion` date NOT NULL,
  `puntaje_total` decimal(5,2) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_evaluacion_empleado`),
  KEY `id_evaluacion` (`id_evaluacion`),
  KEY `id_empleado` (`id_empleado`),
  KEY `id_evaluador` (`id_evaluador`),
  CONSTRAINT `evaluaciones_empleados_ibfk_1` FOREIGN KEY (`id_evaluacion`) REFERENCES `evaluaciones` (`id_evaluacion`),
  CONSTRAINT `evaluaciones_empleados_ibfk_2` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `evaluaciones_empleados_ibfk_3` FOREIGN KEY (`id_evaluador`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluaciones_empleados`
--

LOCK TABLES `evaluaciones_empleados` WRITE;
/*!40000 ALTER TABLE `evaluaciones_empleados` DISABLE KEYS */;
INSERT INTO `evaluaciones_empleados` VALUES (1,1,1,2,'2025-01-15',85.50,'Excelente desempe├▒o en gesti├│n de TI','2025-08-03 04:16:44'),(2,1,2,1,'2025-01-20',90.00,'Liderazgo excepcional en RRHH','2025-08-03 04:16:44'),(3,1,3,2,'2025-01-25',78.50,'Buen desempe├▒o acad├⌐mico','2025-08-03 04:16:44');
/*!40000 ALTER TABLE `evaluaciones_empleados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_laboral`
--

DROP TABLE IF EXISTS `historial_laboral`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historial_laboral` (
  `id_historial` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) NOT NULL,
  `id_puesto_anterior` int(11) DEFAULT NULL,
  `id_puesto_nuevo` int(11) NOT NULL,
  `tipo_cambio` varchar(50) NOT NULL,
  `fecha_cambio` date NOT NULL,
  `motivo` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_historial`),
  KEY `id_empleado` (`id_empleado`),
  KEY `id_puesto_anterior` (`id_puesto_anterior`),
  KEY `id_puesto_nuevo` (`id_puesto_nuevo`),
  CONSTRAINT `historial_laboral_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `historial_laboral_ibfk_2` FOREIGN KEY (`id_puesto_anterior`) REFERENCES `puestos` (`id_puesto`),
  CONSTRAINT `historial_laboral_ibfk_3` FOREIGN KEY (`id_puesto_nuevo`) REFERENCES `puestos` (`id_puesto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_laboral`
--

LOCK TABLES `historial_laboral` WRITE;
/*!40000 ALTER TABLE `historial_laboral` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_laboral` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inasistencias`
--

DROP TABLE IF EXISTS `inasistencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inasistencias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empleado_id` int(11) NOT NULL,
  `fecha_inasistencia` date NOT NULL,
  `hora_inasistencia` time DEFAULT NULL,
  `motivo` text NOT NULL,
  `justificada` tinyint(1) DEFAULT 0,
  `tipo_inasistencia` enum('Justificada','Injustificada','Permiso','Vacaciones','Licencia M├⌐dica') DEFAULT NULL,
  `archivo_justificacion` varchar(255) DEFAULT NULL,
  `registrado_por` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `empleado_id` (`empleado_id`),
  KEY `registrado_por` (`registrado_por`),
  CONSTRAINT `inasistencias_ibfk_1` FOREIGN KEY (`empleado_id`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `inasistencias_ibfk_2` FOREIGN KEY (`registrado_por`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inasistencias`
--

LOCK TABLES `inasistencias` WRITE;
/*!40000 ALTER TABLE `inasistencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `inasistencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `group` varchar(255) NOT NULL,
  `namespace` varchar(255) NOT NULL,
  `time` int(11) NOT NULL,
  `batch` int(11) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'2024-01-01-000004','App\\Database\\Migrations\\CreateBasicTables','default','App',1755695337,1),(2,'2025-08-20-133039','App\\Database\\Migrations\\AddTipoInasistenciaToInasistencias','default','App',1755696665,2),(3,'2025-08-20-141130','App\\Database\\Migrations\\CreateInasistenciaTables','default','App',1755699244,3);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nominas`
--

DROP TABLE IF EXISTS `nominas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nominas` (
  `id_nomina` int(11) NOT NULL AUTO_INCREMENT,
  `periodo` varchar(20) NOT NULL,
  `fecha_generacion` date NOT NULL,
  `fecha_pago` date NOT NULL,
  `estado` varchar(20) NOT NULL CHECK (`estado` in ('Generada','Pagada','Anulada')),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_nomina`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nominas`
--

LOCK TABLES `nominas` WRITE;
/*!40000 ALTER TABLE `nominas` DISABLE KEYS */;
INSERT INTO `nominas` VALUES (1,'2025-08','2025-08-01','2025-08-05','Pagada','2025-08-03 04:16:45'),(2,'2025-07','2025-07-01','2025-07-05','Pagada','2025-08-03 04:16:45'),(3,'2025-06','2025-06-01','2025-06-05','Pagada','2025-08-03 04:16:45');
/*!40000 ALTER TABLE `nominas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periodos_academicos`
--

DROP TABLE IF EXISTS `periodos_academicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `periodos_academicos` (
  `id_periodo` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `estado` enum('Activo','Inactivo','Cerrado') DEFAULT 'Inactivo',
  `descripcion` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_periodo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periodos_academicos`
--

LOCK TABLES `periodos_academicos` WRITE;
/*!40000 ALTER TABLE `periodos_academicos` DISABLE KEYS */;
INSERT INTO `periodos_academicos` VALUES (1,'Periodo 2025-1','2025-01-15','2025-06-30','Activo','Primer periodo acad├⌐mico del a├▒o 2025','2025-08-03 05:44:08'),(2,'Periodo 2025-2','2025-07-15','2025-12-15','Inactivo','Segundo periodo acad├⌐mico del a├▒o 2025','2025-08-03 05:44:08');
/*!40000 ALTER TABLE `periodos_academicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos`
--

DROP TABLE IF EXISTS `permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permisos` (
  `id_permiso` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) NOT NULL,
  `tipo_permiso` varchar(50) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `dias` int(11) NOT NULL,
  `estado` varchar(20) NOT NULL CHECK (`estado` in ('Solicitado','Aprobado','Rechazado')),
  `motivo` text DEFAULT NULL,
  `archivo_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_permiso`),
  KEY `id_empleado` (`id_empleado`),
  CONSTRAINT `permisos_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos`
--

LOCK TABLES `permisos` WRITE;
/*!40000 ALTER TABLE `permisos` DISABLE KEYS */;
INSERT INTO `permisos` VALUES (1,1,'Vacaciones','2025-09-01','2025-09-15',15,'Aprobado','Vacaciones familiares',NULL,'2025-08-03 04:16:45'),(2,2,'Permiso Personal','2025-08-10','2025-08-10',1,'Aprobado','Cita m├⌐dica',NULL,'2025-08-03 04:16:45'),(3,3,'Vacaciones','2025-10-01','2025-10-07',7,'Solicitado','Descanso',NULL,'2025-08-03 04:16:45');
/*!40000 ALTER TABLE `permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `politicas_inasistencia`
--

DROP TABLE IF EXISTS `politicas_inasistencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `politicas_inasistencia` (
  `id_politica` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nombre_politica` varchar(200) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `max_inasistencias_mes` int(11) NOT NULL DEFAULT 3,
  `max_inasistencias_trimestre` int(11) NOT NULL DEFAULT 9,
  `max_inasistencias_anio` int(11) NOT NULL DEFAULT 36,
  `requiere_accion_disciplinaria` tinyint(1) NOT NULL DEFAULT 0,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_politica`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `politicas_inasistencia`
--

LOCK TABLES `politicas_inasistencia` WRITE;
/*!40000 ALTER TABLE `politicas_inasistencia` DISABLE KEYS */;
INSERT INTO `politicas_inasistencia` VALUES (1,'Pol├¡tica General de Inasistencias','Pol├¡tica est├índar para el control de inasistencias',3,9,36,0,1,'0000-00-00 00:00:00','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `politicas_inasistencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `postulaciones`
--

DROP TABLE IF EXISTS `postulaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postulaciones` (
  `id_postulacion` int(11) NOT NULL AUTO_INCREMENT,
  `id_vacante` int(11) NOT NULL,
  `id_candidato` int(11) NOT NULL,
  `fecha_postulacion` date NOT NULL,
  `puntaje_prueba` decimal(5,2) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_postulacion`),
  KEY `id_vacante` (`id_vacante`),
  KEY `id_candidato` (`id_candidato`),
  CONSTRAINT `postulaciones_ibfk_1` FOREIGN KEY (`id_vacante`) REFERENCES `vacantes` (`id_vacante`),
  CONSTRAINT `postulaciones_ibfk_2` FOREIGN KEY (`id_candidato`) REFERENCES `candidatos` (`id_candidato`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postulaciones`
--

LOCK TABLES `postulaciones` WRITE;
/*!40000 ALTER TABLE `postulaciones` DISABLE KEYS */;
INSERT INTO `postulaciones` VALUES (1,1,1,'2025-08-05',85.50,'Buen candidato, experiencia t├⌐cnica s├│lida','2025-08-03 04:16:46'),(2,1,2,'2025-08-06',92.00,'Excelente candidato, muy recomendado','2025-08-03 04:16:46'),(3,2,3,'2025-08-07',65.00,'No cumple requisitos m├¡nimos','2025-08-03 04:16:46');
/*!40000 ALTER TABLE `postulaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `postulantes`
--

DROP TABLE IF EXISTS `postulantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postulantes` (
  `id_postulante` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_puesto` int(11) NOT NULL,
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `cedula` varchar(10) NOT NULL,
  `email` varchar(100) NOT NULL,
  `telefono` varchar(15) NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `genero` enum('Masculino','Femenino','No especificado') NOT NULL,
  `estado_civil` enum('Soltero','Casado','Divorciado','Viudo','Uni├│n libre') NOT NULL,
  `direccion` varchar(200) NOT NULL,
  `ciudad` varchar(100) NOT NULL,
  `provincia` varchar(100) NOT NULL,
  `codigo_postal` varchar(10) DEFAULT NULL,
  `nacionalidad` varchar(100) NOT NULL,
  `estado_postulacion` enum('Pendiente','En revisi├│n','Aprobada','Rechazada','Contratado') DEFAULT 'Pendiente',
  `fecha_postulacion` date NOT NULL,
  `cv_path` varchar(500) DEFAULT NULL,
  `carta_motivacion` text DEFAULT NULL,
  `experiencia_laboral` text DEFAULT NULL,
  `educacion` text DEFAULT NULL,
  `habilidades` text DEFAULT NULL,
  `idiomas` text DEFAULT NULL,
  `certificaciones` text DEFAULT NULL,
  `referencias` text DEFAULT NULL,
  `disponibilidad_inmediata` enum('S├¡','No','En 2 semanas','En 1 mes') NOT NULL,
  `expectativa_salarial` decimal(10,2) DEFAULT NULL,
  `notas_admin` text DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_postulante`),
  UNIQUE KEY `unique_postulacion` (`id_usuario`,`id_puesto`),
  KEY `idx_puesto` (`id_puesto`),
  KEY `idx_usuario` (`id_usuario`),
  KEY `idx_estado` (`estado_postulacion`),
  KEY `idx_fecha` (`fecha_postulacion`),
  CONSTRAINT `fk_postulantes_puesto` FOREIGN KEY (`id_puesto`) REFERENCES `puestos` (`id_puesto`) ON DELETE CASCADE,
  CONSTRAINT `fk_postulantes_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postulantes`
--

LOCK TABLES `postulantes` WRITE;
/*!40000 ALTER TABLE `postulantes` DISABLE KEYS */;
/*!40000 ALTER TABLE `postulantes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preguntas_evaluacion`
--

DROP TABLE IF EXISTS `preguntas_evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `preguntas_evaluacion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `categoria_id` int(11) NOT NULL,
  `pregunta` text NOT NULL,
  `tipo_pregunta` enum('OPCION_MULTIPLE','ESCALA_LIKERT','TEXTO_LIBRE','VERDADERO_FALSO') NOT NULL,
  `opciones` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`opciones`)),
  `peso` decimal(3,2) DEFAULT 1.00,
  `activa` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `categoria_id` (`categoria_id`),
  CONSTRAINT `preguntas_evaluacion_ibfk_1` FOREIGN KEY (`categoria_id`) REFERENCES `categorias_evaluacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preguntas_evaluacion`
--

LOCK TABLES `preguntas_evaluacion` WRITE;
/*!40000 ALTER TABLE `preguntas_evaluacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `preguntas_evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puestos`
--

DROP TABLE IF EXISTS `puestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `puestos` (
  `id_puesto` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `salario_base` decimal(10,2) NOT NULL,
  `id_departamento` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `salario_min` decimal(10,2) DEFAULT 0.00,
  `salario_max` decimal(10,2) DEFAULT 0.00,
  `titulo` varchar(200) NOT NULL,
  `tipo_contrato` enum('Tiempo Completo','Tiempo Parcial','Contrato Fijo','Contrato Indefinido','Por Proyecto','Pr├ícticas') DEFAULT NULL,
  `experiencia_requerida` text DEFAULT NULL,
  `educacion_requerida` text DEFAULT NULL,
  `habilidades_requeridas` text DEFAULT NULL,
  `responsabilidades` text DEFAULT NULL,
  `beneficios` text DEFAULT NULL,
  `estado` enum('Abierto','Cerrado','En Revisi├│n','Pausado') DEFAULT 'Abierto',
  `activo` tinyint(1) DEFAULT 1,
  `url_postulacion` varchar(500) DEFAULT NULL,
  `fecha_limite` date DEFAULT NULL,
  `vacantes_disponibles` int(11) DEFAULT 1,
  `nivel_experiencia` enum('Sin Experiencia','Junior (1-2 a├▒os)','Semi-Senior (3-5 a├▒os)','Senior (5+ a├▒os)','Experto (8+ a├▒os)') DEFAULT NULL,
  `modalidad_trabajo` enum('Presencial','Remoto','H├¡brido') DEFAULT 'Presencial',
  `ubicacion_trabajo` varchar(200) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_puesto`),
  UNIQUE KEY `url_postulacion` (`url_postulacion`),
  KEY `id_departamento` (`id_departamento`),
  CONSTRAINT `fk_puestos_departamento` FOREIGN KEY (`id_departamento`) REFERENCES `departamentos` (`id_departamento`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `puestos_ibfk_1` FOREIGN KEY (`id_departamento`) REFERENCES `departamentos` (`id_departamento`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puestos`
--

LOCK TABLES `puestos` WRITE;
/*!40000 ALTER TABLE `puestos` DISABLE KEYS */;
/*!40000 ALTER TABLE `puestos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id_rol` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_rol` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `nombre_rol` (`nombre_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'SuperAdministrador','Acceso total al sistema','2025-08-03 01:08:51'),(2,'AdministradorTalentoHumano','Gesti├│n de talento humano','2025-08-03 01:08:51'),(3,'Docente','Personal docente','2025-08-03 01:08:51'),(6,'ADMINISTRATIVO','Personal administrativo','2025-08-18 15:54:25'),(7,'DIRECTIVO','Directivos de la instituci├│n','2025-08-18 15:54:25'),(8,'AUXILIAR','Personal auxiliar','2025-08-18 15:54:25');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitudes`
--

DROP TABLE IF EXISTS `solicitudes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `solicitudes` (
  `id_solicitud` int(11) NOT NULL AUTO_INCREMENT,
  `id_empleado` int(11) DEFAULT NULL,
  `tipo_solicitud` enum('Permiso','Capacitaci├│n','Beneficio','Cambio de horario','Otro') DEFAULT 'Otro',
  `titulo` varchar(200) NOT NULL,
  `descripcion` text NOT NULL,
  `fecha_solicitud` timestamp NOT NULL DEFAULT current_timestamp(),
  `fecha_resolucion` timestamp NULL DEFAULT NULL,
  `estado` enum('Pendiente','En revisi├│n','Aprobada','Rechazada','Cancelada') DEFAULT 'Pendiente',
  `resuelto_por` int(11) DEFAULT NULL,
  `comentarios_resolucion` text DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id_solicitud`),
  KEY `id_empleado` (`id_empleado`),
  KEY `resuelto_por` (`resuelto_por`),
  CONSTRAINT `solicitudes_ibfk_1` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `solicitudes_ibfk_2` FOREIGN KEY (`resuelto_por`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitudes`
--

LOCK TABLES `solicitudes` WRITE;
/*!40000 ALTER TABLE `solicitudes` DISABLE KEYS */;
/*!40000 ALTER TABLE `solicitudes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitudes_generales`
--

DROP TABLE IF EXISTS `solicitudes_generales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `solicitudes_generales` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empleado_id` int(11) NOT NULL,
  `tipo_solicitud` enum('SOLICITUD_INFORMACION','SOLICITUD_DOCUMENTO','SOLICITUD_CAMBIO','SOLICITUD_APOYO','OTRO') NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  `estado` enum('PENDIENTE','EN_REVISION','APROBADA','RECHAZADA','COMPLETADA') DEFAULT 'PENDIENTE',
  `fecha_solicitud` timestamp NOT NULL DEFAULT current_timestamp(),
  `respuesta_admin` text DEFAULT NULL,
  `respondido_por` int(11) DEFAULT NULL,
  `fecha_respuesta` timestamp NULL DEFAULT NULL,
  `prioridad` enum('BAJA','MEDIA','ALTA','URGENTE') DEFAULT 'MEDIA',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `empleado_id` (`empleado_id`),
  KEY `respondido_por` (`respondido_por`),
  CONSTRAINT `solicitudes_generales_ibfk_1` FOREIGN KEY (`empleado_id`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `solicitudes_generales_ibfk_2` FOREIGN KEY (`respondido_por`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitudes_generales`
--

LOCK TABLES `solicitudes_generales` WRITE;
/*!40000 ALTER TABLE `solicitudes_generales` DISABLE KEYS */;
/*!40000 ALTER TABLE `solicitudes_generales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_inasistencia`
--

DROP TABLE IF EXISTS `tipos_inasistencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_inasistencia` (
  `id_tipo` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nombre_tipo` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `requiere_justificacion` tinyint(1) NOT NULL DEFAULT 0,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_tipo`),
  UNIQUE KEY `nombre_tipo` (`nombre_tipo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_inasistencia`
--

LOCK TABLES `tipos_inasistencia` WRITE;
/*!40000 ALTER TABLE `tipos_inasistencia` DISABLE KEYS */;
INSERT INTO `tipos_inasistencia` VALUES (1,'Justificada','Inasistencia con justificaci├│n v├ílida',1,1,'2025-08-20 14:14:04'),(2,'Injustificada','Inasistencia sin justificaci├│n',0,1,'2025-08-20 14:14:04'),(3,'Permiso','Permiso autorizado',1,1,'2025-08-20 14:14:04'),(4,'Vacaciones','D├¡as de vacaciones',0,1,'2025-08-20 14:14:04'),(5,'Licencia M├⌐dica','Licencia por enfermedad',1,1,'2025-08-20 14:14:04');
/*!40000 ALTER TABLE `tipos_inasistencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `titulos_academicos`
--

DROP TABLE IF EXISTS `titulos_academicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `titulos_academicos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empleado_id` int(11) NOT NULL,
  `universidad` varchar(255) NOT NULL,
  `tipo_titulo` enum('BACHILLER','LICENCIADO','INGENIERO','MASTER','DOCTOR','POSTDOCTOR') NOT NULL,
  `nombre_titulo` varchar(255) NOT NULL,
  `fecha_obtencion` date NOT NULL,
  `pais` varchar(100) NOT NULL,
  `archivo_certificado` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `empleado_id` (`empleado_id`),
  CONSTRAINT `titulos_academicos_ibfk_1` FOREIGN KEY (`empleado_id`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `titulos_academicos`
--

LOCK TABLES `titulos_academicos` WRITE;
/*!40000 ALTER TABLE `titulos_academicos` DISABLE KEYS */;
/*!40000 ALTER TABLE `titulos_academicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `cedula` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `id_rol` int(11) NOT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `last_login` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `password_changed` tinyint(1) DEFAULT 0 COMMENT '0: contrase┬▒a original, 1: contrase┬▒a cambiada',
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `cedula` (`cedula`),
  UNIQUE KEY `email` (`email`),
  KEY `id_rol` (`id_rol`),
  KEY `idx_usuarios_activo` (`activo`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vacantes`
--

DROP TABLE IF EXISTS `vacantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vacantes` (
  `id_vacante` int(11) NOT NULL AUTO_INCREMENT,
  `id_puesto` int(11) NOT NULL,
  `fecha_publicacion` date NOT NULL,
  `fecha_cierre` date DEFAULT NULL,
  `estado` varchar(20) NOT NULL CHECK (`estado` in ('Abierta','Cerrada','Cancelada')),
  `descripcion` text DEFAULT NULL,
  `requisitos` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `nombre` varchar(200) DEFAULT NULL,
  `salario_min` decimal(10,2) DEFAULT 0.00,
  `salario_max` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id_vacante`),
  KEY `id_puesto` (`id_puesto`),
  KEY `idx_vacantes_fecha` (`fecha_publicacion`),
  CONSTRAINT `vacantes_ibfk_1` FOREIGN KEY (`id_puesto`) REFERENCES `puestos` (`id_puesto`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vacantes`
--

LOCK TABLES `vacantes` WRITE;
/*!40000 ALTER TABLE `vacantes` DISABLE KEYS */;
INSERT INTO `vacantes` VALUES (1,4,'2025-08-01','2025-08-31','Abierta','Desarrollador Full Stack','Experiencia en PHP, JavaScript, MySQL','2025-08-03 04:16:45','Desarrollador de Sistemas',1600.00,2400.00),(2,6,'2025-08-01','2025-08-31','Abierta','Coordinador Acad├⌐mico','Maestr├¡a en Educaci├│n, experiencia en gesti├│n acad├⌐mica','2025-08-03 04:16:45','Coordinador Acad├⌐mico',1760.00,2640.00),(3,8,'2025-08-01','2025-08-31','Abierta','Asistente Administrativo','Bachillerato, experiencia en administraci├│n','2025-08-03 04:16:45','Asistente Administrativo',960.00,1440.00);
/*!40000 ALTER TABLE `vacantes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-27 20:05:28
